[submodule "bundle/vim-pathogen"]
	path = bundle/vim-python-mode
	url = git://github.com/klen/python-mode
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-colorschemes"]
	path = bundle/vim-colorschemes
	url = git://github.com/flazz/vim-colorschemes
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-youcompleteme"]
	path = bundle/vim-youcompleteme
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/vim-neocomplete"]
	path = bundle/vim-neocomplete
	url = https://github.com/Shougo/neocomplete.vim
[submodule "bundle/vim-seoul256"]
	path = bundle/vim-seoul256
	url = https://github.com/junegunn/seoul256.vim
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "bundle/vim-nerdtree"]
	path = bundle/vim-nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/vim-bookmarks"]
	path = bundle/vim-bookmarks
	url = https://github.com/MattesGroeger/vim-bookmarks.git
[submodule "bundle/vim-vimproc"]
	path = bundle/vim-vimproc
	url = https://github.com/Shougo/vimproc.vim
[submodule "bundle/vim-lightline"]
	path = bundle/vim-lightline
	url = https://github.com/itchyny/lightline.vim
[submodule "bundle/vim-colorscheme-switcher"]
	path = bundle/vim-colorscheme-switcher
	url = https://github.com/xolox/vim-colorscheme-switcher
[submodule "bundle\\vim-colors-solarized"]
	path = bundle\\vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "bundle/vim-diff-enhanched"]
	path = bundle/vim-diff-enhanched
	url = https://github.com/chrisbra/vim-diff-enhanced.git
[submodule "bundle/vim-unite"]
	path = bundle/vim-unite
	url = https://github.com/Shougo/unite.vim
[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "bundle/vim-conda"]
	path = bundle/vim-conda
	url = https://github.com/cjrh/vim-conda
[submodule "bundle/vim-markdown-preview"]
	path = bundle/vim-markdown-preview
	url = https://github.com/JamshedVesuna/vim-markdown-preview
[submodule "bundle/vim-neomake"]
	path = bundle/vim-neomake
	url = https://github.com/neomake/neomake
[submodule "bundle/vim-python-mode"]
	path = bundle/vim-python-mode
	url = https://github.com/klen/python-mode
