[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-colorschemes"]
	path = bundle/vim-colorschemes
	url = git://github.com/flazz/vim-colorschemes
[submodule "bundle/vim-pandoc"]
	path = bundle/vim-pandoc
	url = git://github.com/vim-pandoc/vim-pandoc.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-youcompleteme"]
	path = bundle/vim-youcompleteme
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/vim-neocomplete"]
	path = bundle/vim-neocomplete
	url = https://github.com/Shougo/neocomplete.vim
